*{background-position: center;background-repeat: no-repeat;background-size: cover;}
.tomjerry{
    background-image: url("../images/tom_and_djerry.webp");
}
.doremon{
    background-image: url("../images//doremon.png");
}
.chottabheem{
    background-image: url("../images//chottebheem.png");
}
.ninjahatori{
    background-image: url("../images/ninja.webp");
}
.shinchan{
    background-image: url("../images//shinCAN.webp");
}
.pikachu{
    background-image: url("../images//pikacu.webp");
}
.oggycock{
    background-image: url("../images//oggycock.webp");
}